body {
  margin: 0;
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo {
  color: red;
  font-size: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  color: chartreuse;
  text-decoration: none;
}

ul li a:hover {
  color: aqua;
}